:root {
    --background-color: #f4f4f4;
    --foreground-color: #2d3436;
    --accent-color: #0487e2;
    --hover-color: #b0d6f5;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: sans-serif;
    font-size: 100%;
}

header, article {
    border-radius: 3px;
    box-sizing: border-box;
    margin: auto;
    margin-left: 300px;
    max-width: 1000px;
    overflow: hidden;
    padding: 0 50px;
}

header {
    text-align: center;
}

article > h1 {
    background-color: var(--foreground-color);
    border-color: var(--foreground-color);
    border-style: solid;
    border-width: 5px;
    color: var(--background-color);
    margin-top: 50px;
    padding-left: 10px;
}

nav {
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    max-width: 300px;
    position: fixed;
    overflow-y: auto;
    top: 100px;
}

nav ul {
    list-style: none;
    padding-left: 1em;
}

nav > ul {
    margin: 0;
    padding: 0 50px;
}

nav li {
    margin-bottom: 0;
    margin-top: 10px;
}

nav ul a {
    font-size: small;
}

a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
    max-height: 300px;
}

.item {
    border-radius: 3px;
    margin: 10px;
    padding: 0.5em;
}

.item:hover
{
    background-color: var(--hover-color);
}

.tile {
    float: left;
    max-width: 250px;
    min-height: 70px;
    width: 90%;
}

.math.display {
    display: block;
    overflow-x: auto;
    width: 100%;
}

li {
    margin-bottom: 10px;
}

@media screen and (max-width:1000px) {
    header, article {
        margin: auto;
    }

    nav {
        bottom: auto;
        margin: auto;
        max-width: 1000px;
        padding: 0 50px;
        position: relative;
        top: auto;
    }

    nav > ul {
        padding: 0;
    }
}

@media screen and (max-width:600px) {
    header, article, nav {
        padding: 0px 20px;
    }

    .item {
        max-width: 100%;
    }
}
